.createNote{
  position: relative;
  height: 15vh;
  width: 60vw;
  background: #e7e7e7;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
  left: 50%;
  transform: translate( -50% , 0 );
}


@media screen and (max-device-width: 480px){
  .createNote{
    width: 90vw;
  }
}

.createNote form{
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.createNote form input{
  border-radius: 1000px;
  padding: 0.5em 1em;
  border: none;
  box-shadow: 0 0 5px rgba(0,0,0,0.4);
  outline: none;
}

.createNote form input[type="text"]{
    width: 75%;
}

.createNote form input[type="submit"]{
    width: 15%;
    cursor: pointer;
}
